{{define "title"}}Pictures{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
    <div class="page-header">
        <h1>{{.image}}</h1>
    </div>
    <a href="/image/{{.id}}" class="thumbnail" width="100%">
        <img src="/image/{{.id}}">
    </a>

    <table class="table table-striped">
        <caption>Image Details</caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>

        <tbody>
        {{range $key, $value := .details}}
        <tr>
            <td>{{$key}}</td>
            <td>{{$value}}</td>
        </tr>

        {{end}}

        </tbody>

    </table>

    {{template "footer"}}
</div>
{{end}}
{{define "foot"}}{{end}}