{{define "title"}}Pictures{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
    <div class="page-header">
        <h1>Index</h1>
    </div>
    <form method="post">
        {{if .index_running}}
        <h4>Now Indexing...</h4>
        <hr/>
        <div class="form-group">
            <label>Progress</label>
            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
                {{.index_progress}}
            </div>
        </div>
        <hr/>
        <button type="submit" class="btn btn-primary" name="action" value="refresh">Refresh</button>
        <button type="submit" class="btn btn-primary" name="action" value="stop">Stop</button>

        {{else}}
        <h4>Options</h4>
        <hr/>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="location" value="{{.location}}">
                Include Locations
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="reindex" value="{{.reindex}}">
                Abandon existing index
            </label>
        </div>
        <hr/>

        <button type="submit" class="btn btn-primary" name="action" value="start">Submit</button>
        {{end}}
    </form>


</div>
{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}
