<ul class="nav navbar-nav">
    <li><a href="{{.BaseURI}}">Search</a></li>
    <li><a href="{{.BaseURI}}index">Index</a></li>
    <li><a href="{{.BaseURI}}backup">backup</a></li>
    <li><a href="{{.BaseURI}}settings">Settings</a></li>
    <li><a href="{{.BaseURI}}about">About</a></li>
</ul>