{{define "title"}}Settings{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
    <div class="page-header">
        <h1>{{template "title" .}}</h1>
    </div>
    <form class="form-horizontal" method="post">
        <div class="form-group">

            <label class="control-label col-sm-2">
                <a href="https://developer.mapquest.com/plan_purchase/steps/business_edition/business_edition_free/register">MapQuest </a>Key:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="quest_key" id="quest_key" value="{{.quest_key}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Backup Folder:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="backup_folder" name="backup_folder"
                       value="{{.backup_folder}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Source Folders:</label>
            <div class="col-sm-10">

                {{range $n := .source_folders}}
                <ul class="list-group">
                    <li class="list-group-item">
                        <label>{{.}}</label>
                        <button type="submit" class="btn btn-default" value="{{.}}" name="delete">Delete</button>
                    </li>

                </ul>
                {{end}}
                <div class="input-group">
                    <input type="text" name="source_folder" id="source_folder" class="form-control"
                           placeholder="Add source folder ..."/>
                    <span class="input-group-btn">
                  <button type="button" class="browse btn btn-default">Browse</button>
                                  <button type="submit" class="btn btn-default">Add</button>

            </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>

    {{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}
