{{define "title"}}Settings{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
    <div class="page-header">
        <h1>{{template "title" .}}</h1>
    </div>

    {{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}